*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#111827;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:#1f2937;
position:sticky;
top:0;
}

.logo{
font-size:28px;
font-weight:bold;
color:#00e5ff;
}

nav a{
color:white;
text-decoration:none;
margin-left:20px;
}

.hero{
display:flex;
align-items:center;
justify-content:center;
padding:80px 10%;
gap:60px;
flex-wrap:wrap;
}

.hero img{
width:280px;
border-radius:20px;
box-shadow:0 0 30px cyan;
}

.hero-text h1{
font-size:50px;
margin-bottom:20px;
}

.hero-text p{
font-size:20px;
margin-bottom:25px;
}

.btn{
display:inline-block;
padding:15px 30px;
background:#00bcd4;
color:white;
text-decoration:none;
border-radius:10px;
margin-right:10px;
transition:.3s;
}

.btn:hover{
transform:scale(1.05);
}
